@model IEnumerable<MVC_cafe.Models.Food>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/myLayout.cshtml";
}

<style>
    table, tr, th, td {
        border: 1px solid #111;
    }

    tbody {
        border-top: 2px solid #111;
    }
    a{
        color:#fff;
        font-size:16px;
    }
    #searchFood {
        border: 1px solid #111;
        height: 32px;
        border-radius: 5px;
    }
</style>

<p class="btn btn-default" style="background: #5a69fa;color:#fff">
    <i class="fas fa-plus"></i>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<hr />
<h2 style="font-weight:600">Danh sách món ăn</h2>
<div style="background:#fff;padding:13px;border-radius:5px">

    @using (Html.BeginForm("Index", "Foods"))
    {
        @Html.TextBox("searchFood") <input class="btn btn-info" type="submit" value="Tìm kiếm" />
    }

    <h6 style="margin-bottom: 30px;"></h6>
    <table class="table">
        <tr>
            <th>
                Tên món ăn
            </th>
            <th>
                Giá
            </th>
            <th>
                Thể loại
            </th>
            <th>Thao tác</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Food_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodCategory.FoodCategory_name)
                </td>
                <td>
                    <p class="btn btn-default" style="background: #2cc455;color:#fff">
                        <i class="fas fa-edit"></i>
                        @Html.ActionLink("Cập nhật", "Edit", new { id = item.Food_id })
                    </p> |
                    <p class="btn btn-default" style="background:#f7c30f;color:#fff">
                        <i class="fas fa-trash-alt"></i>
                        @Html.ActionLink("Xóa", "Delete", new { id = item.Food_id })
                    </p>

                </td>
            </tr>
        }
    </table>
</div>