
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Member</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="~/File/CSS/home.css" />
</head>
<body>
    <header>
        <div class="title"><h1>CAFE<span>.HOME</span></h1></div>
        <div class="info">
            <i id="admin" class="fas fa-user">@Session["UserName"]</i>
            <a href="@Url.Action("Index","Login")">Logout</a>
        </div>
    </header>
    <section>
        <nav>
            <h1><a href="@Url.Action("Member","Home")">MENU</a></h1>
            <ul class="nav-list">
                <li class="nav-item">
                    <i class="fas fa-user"></i>
                    <a class="nav-text" href="@Url.Action("Index","Bills")">Tổng quan</a>
                </li>
                <li class="nav-item">
                    <i class="fas fa-pen-square"></i>
                    <a class="nav-text" href="@Url.Action("Create","Bills")">Order</a>
                </li>
                <li class="nav-item">
                    <i class="fas fa-mug-hot"></i>
                    <a class="nav-text" href="@Url.Action("XemMon","Foods")">Xem món</a>
                </li>
            </ul>
        </nav>
        <div class="content">
            @RenderBody()
        </div>
    </section>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
